.Home .lander {
	padding: 80px 0;
	text-align: center;
}

.Home .lander h1 {
	font-family: 'Open Sans', sans-serif;
	font-weight: 600;
}

.Home .lander p {
	color: #999;
}

.Home .dropzone {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.Home .dropzone > div {
    display: flex;
    justify-content: center;
    align-items: center;
    border-color: cornflowerblue;
    cursor: pointer;
    flex-direction: column;
    width: 225px;
    height:225px;
}

.Home .dropzone > div > div {
    margin-bottom: 15px;
}

.Home .dropzone p {
    text-align: center;
}

.card {
	border: 1px solid #bbb;
	border-radius: 5px;
	padding: 10px;
	box-shadow: 3px 3px 5px #ccc;
	margin: 10px;
	width: 25%;
    min-width: 300px;
    cursor: pointer;
}

.card h4 {
	padding: 0px;
	margin: 0px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}